version: '3.3'

services:
  app:
    image: carriel2/jelastic-demo:latest
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres
      - DB_NAME=app_db
      - DB_USER=user
      - DB_PASS=password
    depends_on:
      - postgres

  postgres:
    image: bitnami/postgresql:13
    restart: always
    environment:
      - POSTGRESQL_USERNAME=user
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_DATABASE=app_db
    volumes:
      - postgres_data:/bitnami/postgresql

  prometheus:
    image: prom/prometheus:latest
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  postgres_data:
  grafana_data: