version: '3.3'

services:
  app:
    image: carriel2/jelastic-demo:latest
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=sqldb
      - DB_NAME=postgres
      - DB_USER=webadmin
      - DB_PASS=db_password_123

  prometheus:
    image: prom/prometheus:latest
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  grafana_data: